@font-face {
  font-family: 'KIMM_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'KIMM_Bold';  
  user-select: none;  
}

body {
  overflow: hidden;
  background: linear-gradient(217deg, rgba(230,100,101,1), rgba(230,100,101,0) 70.71%),
              linear-gradient(127deg, rgba(145,152,229,1), rgba(145,152,229,0) 70.71%),
              linear-gradient(336deg, rgba(120,199,210,1), rgba(120,199,210,0) 70.71%);
};